<div class="w-full theme-bg theme-text font-sans text-primary">
  <!-- Navbar -->
  <div class="transition-colors bg-background text-text font-sans">
    <app-navbar></app-navbar>
  </div>

  <!-- About Me -->
  <div class="h-dvh flex justify-center items-center ">
    <app-about></app-about>
  </div>

  <!-- Skills -->
  <div class="h-dvh">
    <!-- skill -->
    <app-skills />
  </div>

  <!-- Experience -->
  <div class="h-svh bg-green-500">
    Experience
  </div>

  <!-- Projects -->
  <div class="h-svh ">
    Projects
  </div>

  <!-- Education -->
  <div class="h-svh bg-blue-500">
    Education
  </div>

  <!-- Contact -->
  <div class="h-svh bg-green-500">
    Contact
  </div>

  <!-- Download CV (PDF) -->
  <div class="h-svh ">
    Download CV (PDF)
  </div>

  <!-- Footer -->
  <div class="h-svh bg-yellow-500">
    Footer
  </div>
</div>